<app-loading-overlay [isLoading]="loading" [responseMessage]="message"></app-loading-overlay>
<app-header></app-header>
<div class="min-h-screen flex items-center justify-center px-5 xl:px-0">
    <form (ngSubmit)="submit()" [formGroup]="forgetForm" class="p-6 rounded-xl border-2 shadow-md w-full max-w-sm">
        <div class="w-full flex flex-col justify-center items-center">
            <h2 class="text-xl font-bold w-full text-center uppercase text-vsg-black">Quên mật khẩu</h2>
            <div>
                <p class="text-vsg-black text-center my-3 text-sm md:text-base">Vui lòng điền vào email của bạn
                </p>
            </div>
        </div>
        <div class="max-w-sm mt-2">
            <label for="input-label" class="block text-sm font-medium mb-2">Email</label>
            <input type="text" formControlName="email"
                class="py-2.5 sm:py-3 px-4 block w-full border border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                placeholder="Nhập vào email của bạn">
            <div class="flex flex-col justify-center gap-x-2 my-2">
                <div class="text-sm text-red-600" *ngIf="getError('email')">
                    {{ getError('email') }}
                </div>
            </div>
        </div>

        <p class="w-full text-center text-sm my-3" *ngIf="message" [ngClass]="messageClass">{{ message }}</p>

        <div class="flex justify-center gap-x-2 my-7">
            <button type="submit" [disabled]="forgetForm.invalid"
                class="bg-goldenfund-black-300 text-goldenfund-yellow-500 hover:bg-goldenfund-silver-100 hover:text-goldenfund-black-300 px-4 py-2 rounded w-full disabled:opacity-50 disabled:pointer-events-none">
                Gửi đi
            </button>
        </div>
    </form>
</div>
<app-footer></app-footer>
