<header class="w-full fixed top-0 z-50 py-2 md:py-4 bg-gradient-to-br from-[#0C0C0C] via-[#1A1A1A] to-[#0C0C0C]">
    <nav class="container mx-auto px-6 transition-[rounded,margin] duration">
        <div class="flex flex-row justify-between items-center">
            <a href="/" class="flex items-center gap-3">
                <div class="w-10 h-10 bg-custom-yellow rounded-lg flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-chart-bar-popular text-custom-black">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 13a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path d="M9 9a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path d="M15 5a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                        <path d="M4 20h14" />
                    </svg>
                </div>
                <div class="text-left">
                    <div class="font-semibold text-custom-yellow">Trading Việt</div>
                    <div class="text-xs text-custom-white">Đối tác độc quyền FXGlobalHub tại Việt Nam</div>
                </div>
            </a>

            <div class="flex justify-end items-center gap-6">
                <ul class="flex gap-2">
                    <li *ngFor="let item of navItemsForBrowser; index as i" (click)="setActive(i)"
                        class="hidden lg:block p-0">
                        <a [routerLink]="item.link"
                            class="text-custom-white hover:text-custom-yellow text-center px-2 py-1 flex items-center gap-1 cursor-pointer text-base rounded-3xl transition duration-100 ease-in-out"
                            [ngClass]="{'text-custom-yellow': selectedIndex === i}">
                            <span [innerHTML]="item.icon"></span>
                            <span>{{ item.label }}</span>
                        </a>
                    </li>
                </ul>
                <div *ngIf="isLoggedIn(); else loginBlock">
                    <div class="relative inline-flex">
                        <button (click)="toggleDropdown()"
                            class="py-1 ps-1 pe-3 inline-flex items-center gap-x-2 font-semibold focus:outline-none text-black"
                            aria-haspopup="menu" aria-expanded="isDropdownOpen" aria-label="Dropdown">
                            <div class="flex justify-end gap-2 items-center">
                                <div class="text-custom-yellow flex flex-col justify-end items-end">
                                    <svg class="hs-collapse-open:hidden flex-shrink-0 size-7"
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <line x1="3" x2="21" y1="6" y2="6" />
                                        <line x1="3" x2="21" y1="12" y2="12" />
                                        <line x1="3" x2="21" y1="18" y2="18" />
                                    </svg>
                                </div>
                            </div>
                        </button>
                        <div class="absolute right-0 top-10 z-10 mt-2 w-72 xl:w-[300px] group bg-custom-black border border-[#F5BF00]/30 rounded-2xl p-8 hover:shadow-xl hover:shadow-[#F5BF00]/10 transition-all duration-300 ease-in-out"
                            [ngClass]="{'max-h-0 opacity-0 overflow-hidden': !isDropdown, 'opacity-100': isDropdown}">
                            <div
                                class="overflow-hidden [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300">
                                <div class="flex flex-col xl:flex-row justify-end">
                                    <div class="block xl:hidden shadow-sm border-gray-100 rounded-lg border">
                                        <button *ngFor="let item of navItemsForBrowser"
                                            (click)="clickOnMenuDropdown(item)"
                                            class="w-full px-3 py-2 rounded-lg text-base font-semibold md:text-sm xl:text-base text-custom-white hover:bg-gray-100 hover:text-fxgh-blue-400 focus:outline-none">
                                            {{item.label}}
                                        </button>
                                    </div>
                                </div>
                                <div class="my-3 xl:my-0">
                                    <h2 class="font-semibold text-custom-yellow text-sm xl:text-base">
                                        Xin chào, <span class="capitalize">{{ userSignal()?.display_name }}!</span>
                                    </h2>
                                    <p class="text-custom-white/70 text-xs xl:text-sm">
                                        {{userSignal()?.email}}
                                    </p>
                                </div>
                                <button type="button" (click)="logout()"
                                    class="group bg-custom-black text-red-300 border border-[#F5BF00]/30 rounded-2xl transition-all duration-300 hover:shadow-xl hover:shadow-[#F5BF00]/10 px-5 py-1 my-2 text-sm">
                                    Đăng xuất
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #loginBlock>
                    <div class="flex flex-row gap-4 justify-end my-3 items-center">
                        <a routerLink="/dang-ky"
                            class="flex justify-center text-center gap-1 items-center px-3 py-1 text-pbds-blue rounded-lg text-base text-custom-white hover:text-custom-yellow">
                            Đăng ký
                        </a>
                        <a routerLink="/dang-nhap"
                            class="flex justify-center gap-1 items-center px-3 py-1 bg-pbds-blue rounded-full text-base text-custom-yellow border border-dashed border-custom-black hover:shadow-md hover:border-custom-yellow">
                            <svg class="flex-shrink-0 size-4 font-bold" xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                                <circle cx="12" cy="7" r="4" />
                            </svg>
                            Đăng nhập
                        </a>
                    </div>
                </ng-template>
            </div>
        </div>
    </nav>
</header>
