<section class="py-24 px-6 bg-gradient-to-b from-[#0C0C0C] to-custom-black relative">
    <div class="max-w-7xl mx-auto">
        <div class="text-center mb-16 space-y-4">
            <h2 class="text-4xl lg:text-5xl text-custom-white">Danh sách <span class="text-custom-yellow">Robot giao
                    dịch
                    FX</span></h2>
            <p class="text-xl text-custom-white/60 max-w-2xl mx-auto">Các robot EA được tối ưu cho từng loại thị trường
                và
                phong cách giao dịch khác nhau. Dưới đây là 2 robot tốt nhất được tối ưu trong gần 5 năm qua!
            </p>
        </div>
        <div class="grid md:grid-cols-2 gap-6 mb-12">
            <article *ngFor="let item of botLists"
                class="bg-custom-black border border-custom-black rounded-2xl p-8 hover:border-custom-yellow/30 transition-all duration-300 group">
                <a [routerLink]="['/', item?.slug]">
                    <div *ngIf="item?.thumbnail"
                        class="aspect-video object-cover rounded-xl flex items-center justify-center mb-6">
                        <img class="rounded-md" [src]="item?.thumbnail" [alt]="item?.title">
                    </div>
                    <h3 class="text-2xl text-custom-white mb-3">
                        {{item?.title}}
                    </h3>
                    <p class="text-custom-white/60 mb-6 leading-relaxed">
                        {{item?.description}}
                    </p>
                    <ul class="space-y-2 mb-6">
                        <li *ngFor="let type of item?.tags"
                            class="flex items-center gap-2 text-custom-white/70 text-sm">
                            <div class="w-1.5 h-1.5 rounded-full" style="background-color: rgb(245, 191, 0);"></div>
                            {{type}}
                        </li>
                    </ul>
                    <a [routerLink]="['/', item?.slug]"
                        class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive border bg-background hover:text-accent-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50 h-9 px-4 py-2 has-[&gt;svg]:px-3 w-full border-custom-yellow/20 text-custom-yellow hover:bg-custom-yellow/10 group-hover:border-custom-yellow/40">Xem
                        chi tiết
                    </a>
                </a>
            </article>
        </div>
    </div>
</section>
