<section class="py-24 px-6 bg-custom-black">
    <div class="max-w-4xl mx-auto">
        <div class="text-center mb-16 space-y-4">
            <h2 class="text-4xl lg:text-5xl text-custom-white">Giải đáp <span class="text-custom-yellow">thắc mắc</span>
            </h2>
            <p class="text-xl text-custom-white/60">Những câu hỏi thường gặp về robot giao dịch FX và dịch vụ của chúng
                tôi.</p>
        </div>
        <div data-slot="accordion" class="space-y-4" data-orientation="vertical">
            <div data-state="closed" data-orientation="vertical" data-slot="accordion-item"
                class="last:border-b-0 bg-[#0C0C0C] border border-custom-black rounded-xl px-6 hover:border-custom-yellow/30 transition-colors">
                <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                        aria-controls="radix-:r1:" aria-expanded="false" data-state="closed" data-orientation="vertical"
                        id="radix-:r0:" data-slot="accordion-trigger"
                        class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]&gt;svg]:rotate-180 text-left text-custom-white hover:text-custom-yellow py-6"
                        data-radix-collection-item="">Robot có đảm bảo lợi nhuận không?<svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5 transition-transform duration-200">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg></button></h3>
                <div data-state="closed" id="radix-:r1:" hidden="" role="region" aria-labelledby="radix-:r0:"
                    data-orientation="vertical" data-slot="accordion-content"
                    class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                    style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width: var(--radix-collapsible-content-width);">
                </div>
            </div>
            <div data-state="closed" data-orientation="vertical" data-slot="accordion-item"
                class="last:border-b-0 bg-[#0C0C0C] border border-custom-black rounded-xl px-6 hover:border-custom-yellow/30 transition-colors">
                <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                        aria-controls="radix-:r3:" aria-expanded="false" data-state="closed" data-orientation="vertical"
                        id="radix-:r2:" data-slot="accordion-trigger"
                        class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]&gt;svg]:rotate-180 text-left text-custom-white hover:text-custom-yellow py-6"
                        data-radix-collection-item="">Robot có an toàn không?<svg xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5 transition-transform duration-200">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg></button></h3>
                <div data-state="closed" id="radix-:r3:" hidden="" role="region" aria-labelledby="radix-:r2:"
                    data-orientation="vertical" data-slot="accordion-content"
                    class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                    style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width: var(--radix-collapsible-content-width);">
                </div>
            </div>
            <div data-state="closed" data-orientation="vertical" data-slot="accordion-item"
                class="last:border-b-0 bg-[#0C0C0C] border border-custom-black rounded-xl px-6 hover:border-custom-yellow/30 transition-colors">
                <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                        aria-controls="radix-:r5:" aria-expanded="false" data-state="closed" data-orientation="vertical"
                        id="radix-:r4:" data-slot="accordion-trigger"
                        class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]&gt;svg]:rotate-180 text-left text-custom-white hover:text-custom-yellow py-6"
                        data-radix-collection-item="">Cài đặt mất bao lâu?<svg xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5 transition-transform duration-200">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg></button></h3>
                <div data-state="closed" id="radix-:r5:" hidden="" role="region" aria-labelledby="radix-:r4:"
                    data-orientation="vertical" data-slot="accordion-content"
                    class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                    style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width: var(--radix-collapsible-content-width);">
                </div>
            </div>
            <div data-state="closed" data-orientation="vertical" data-slot="accordion-item"
                class="last:border-b-0 bg-[#0C0C0C] border border-custom-black rounded-xl px-6 hover:border-custom-yellow/30 transition-colors">
                <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                        aria-controls="radix-:r7:" aria-expanded="false" data-state="closed" data-orientation="vertical"
                        id="radix-:r6:" data-slot="accordion-trigger"
                        class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]&gt;svg]:rotate-180 text-left text-custom-white hover:text-custom-yellow py-6"
                        data-radix-collection-item="">Có cần kinh nghiệm giao dịch không?<svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5 transition-transform duration-200">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg></button></h3>
                <div data-state="closed" id="radix-:r7:" hidden="" role="region" aria-labelledby="radix-:r6:"
                    data-orientation="vertical" data-slot="accordion-content"
                    class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                    style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width: var(--radix-collapsible-content-width);">
                </div>
            </div>
            <div data-state="closed" data-orientation="vertical" data-slot="accordion-item"
                class="last:border-b-0 bg-[#0C0C0C] border border-custom-black rounded-xl px-6 hover:border-custom-yellow/30 transition-colors">
                <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                        aria-controls="radix-:r9:" aria-expanded="false" data-state="closed" data-orientation="vertical"
                        id="radix-:r8:" data-slot="accordion-trigger"
                        class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]&gt;svg]:rotate-180 text-left text-custom-white hover:text-custom-yellow py-6"
                        data-radix-collection-item="">Có thể chạy robot trên nhiều tài khoản không?<svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5 transition-transform duration-200">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg></button></h3>
                <div data-state="closed" id="radix-:r9:" hidden="" role="region" aria-labelledby="radix-:r8:"
                    data-orientation="vertical" data-slot="accordion-content"
                    class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                    style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width: var(--radix-collapsible-content-width);">
                </div>
            </div>
            <div data-state="closed" data-orientation="vertical" data-slot="accordion-item"
                class="last:border-b-0 bg-[#0C0C0C] border border-custom-black rounded-xl px-6 hover:border-custom-yellow/30 transition-colors">
                <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                        aria-controls="radix-:rb:" aria-expanded="false" data-state="closed" data-orientation="vertical"
                        id="radix-:ra:" data-slot="accordion-trigger"
                        class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]&gt;svg]:rotate-180 text-left text-custom-white hover:text-custom-yellow py-6"
                        data-radix-collection-item="">Robot chạy được trên sàn nào?<svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5 transition-transform duration-200">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg></button></h3>
                <div data-state="closed" id="radix-:rb:" hidden="" role="region" aria-labelledby="radix-:ra:"
                    data-orientation="vertical" data-slot="accordion-content"
                    class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                    style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width: var(--radix-collapsible-content-width);">
                </div>
            </div>
            <div data-state="closed" data-orientation="vertical" data-slot="accordion-item"
                class="last:border-b-0 bg-[#0C0C0C] border border-custom-black rounded-xl px-6 hover:border-custom-yellow/30 transition-colors">
                <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                        aria-controls="radix-:rd:" aria-expanded="false" data-state="closed" data-orientation="vertical"
                        id="radix-:rc:" data-slot="accordion-trigger"
                        class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]&gt;svg]:rotate-180 text-left text-custom-white hover:text-custom-yellow py-6"
                        data-radix-collection-item="">Có hỗ trợ khi robot lỗi không?<svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5 transition-transform duration-200">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg></button></h3>
                <div data-state="closed" id="radix-:rd:" hidden="" role="region" aria-labelledby="radix-:rc:"
                    data-orientation="vertical" data-slot="accordion-content"
                    class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                    style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width: var(--radix-collapsible-content-width);">
                </div>
            </div>
            <div data-state="closed" data-orientation="vertical" data-slot="accordion-item"
                class="last:border-b-0 bg-[#0C0C0C] border border-custom-black rounded-xl px-6 hover:border-custom-yellow/30 transition-colors">
                <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                        aria-controls="radix-:rf:" aria-expanded="false" data-state="closed" data-orientation="vertical"
                        id="radix-:re:" data-slot="accordion-trigger"
                        class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]&gt;svg]:rotate-180 text-left text-custom-white hover:text-custom-yellow py-6"
                        data-radix-collection-item="">Robot có hoạt động trên VPS không?<svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5 transition-transform duration-200">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg></button></h3>
                <div data-state="closed" id="radix-:rf:" hidden="" role="region" aria-labelledby="radix-:re:"
                    data-orientation="vertical" data-slot="accordion-content"
                    class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                    style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width: var(--radix-collapsible-content-width);">
                </div>
            </div>
            <div data-state="closed" data-orientation="vertical" data-slot="accordion-item"
                class="last:border-b-0 bg-[#0C0C0C] border border-custom-black rounded-xl px-6 hover:border-custom-yellow/30 transition-colors">
                <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                        aria-controls="radix-:rh:" aria-expanded="false" data-state="closed" data-orientation="vertical"
                        id="radix-:rg:" data-slot="accordion-trigger"
                        class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]&gt;svg]:rotate-180 text-left text-custom-white hover:text-custom-yellow py-6"
                        data-radix-collection-item="">Chính sách hoàn tiền như thế nào?<svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5 transition-transform duration-200">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg></button></h3>
                <div data-state="closed" id="radix-:rh:" hidden="" role="region" aria-labelledby="radix-:rg:"
                    data-orientation="vertical" data-slot="accordion-content"
                    class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                    style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width: var(--radix-collapsible-content-width);">
                </div>
            </div>
            <div data-state="closed" data-orientation="vertical" data-slot="accordion-item"
                class="last:border-b-0 bg-[#0C0C0C] border border-custom-black rounded-xl px-6 hover:border-custom-yellow/30 transition-colors">
                <h3 data-orientation="vertical" data-state="closed" class="flex"><button type="button"
                        aria-controls="radix-:rj:" aria-expanded="false" data-state="closed" data-orientation="vertical"
                        id="radix-:ri:" data-slot="accordion-trigger"
                        class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&amp;[data-state=open]&gt;svg]:rotate-180 text-left text-custom-white hover:text-custom-yellow py-6"
                        data-radix-collection-item="">Tôi có thể tùy chỉnh chiến lược robot không?<svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5 transition-transform duration-200">
                            <path d="m6 9 6 6 6-6"></path>
                        </svg></button></h3>
                <div data-state="closed" id="radix-:rj:" hidden="" role="region" aria-labelledby="radix-:ri:"
                    data-orientation="vertical" data-slot="accordion-content"
                    class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
                    style="--radix-accordion-content-height: var(--radix-collapsible-content-height); --radix-accordion-content-width: var(--radix-collapsible-content-width);">
                </div>
            </div>
        </div>
        <div class="mt-12 text-center">
            <p class="text-custom-white/60">Vẫn còn thắc mắc? <a href="#contact"
                    class="text-custom-yellow hover:underline">Liên hệ đội ngũ hỗ trợ</a> của chúng tôi để được tư vấn
                chi
                tiết.</p>
        </div>
    </div>
</section>
